.email-error-note, .error-note, .error-note-check-maxprice, .error-note-iban-check {
    margin-top: 5px;
    font-size: .8rem;
    color: #c8102e;
    display: none
}

input.error, select.error {
    border: 1px solid #c8102e !important
}

.mandatory label:after {
    content: " *";
    color: #c8102e
}

.mandatory_sign {
    color: #c8102e
}

.mandatory.error input, .mandatory.error select, .mandatory.error textarea, input.error, select.error {
    box-shadow: 0 0 3px 0 #c8102e !important
}